body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#userList {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.user-card {
    width: 37%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    text-align: center;
}

.user-card p {
    margin: 0;
    font-weight: bold;
}

.user-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.user-card a:hover {
    color: cadetblue;
}

#btnContainer {
    padding: 20px;
    text-align: center;
}

                               /*---------------user- post---------------------*/


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#userDetails {
    width: 90%;
    margin-top: 50px;
    text-align: center;
}

.user-details-card {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.user-details-card h2 {
    margin-top: 0;
}

.user-details-card p {
    margin: 0;
    font-weight: bold;
}

.user-details-button {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-details-button:hover {
    background-color: #45a049;

}


.user-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-post-card {
    width: 18%;
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

.user-post-card p {
    margin: 0;
    font-weight: bold;
}
                /*----------------------post-detais-------------------------------*/




.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.comment-card {
    width: 80%;
    padding: 20px;
    margin: 10px;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.comment-card p {
    margin: 0;
    font-weight: bold;
}

.user-card,
.post-block,
.comment-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

